.app {
  background: url("./img/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
  font-family: "Permanent Marker";
}

.app-header {
  text-align: center;
}

.main {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh;

  display: flex;
  align-items: center;
}
